name: Build and deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  next-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/next-app.yaml@main

    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      app: meroppfolging-frontend
      base-path: /syk/meroppfolging
      node-version: "24.x"
